name: Build (main)
permissions:
  contents: read
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    name: Built, Test and verify with Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # https://github.com/actions-rust-lang/setup-rust-toolchain
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Clippy
        run: cargo clippy
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test
      - name: Setup pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Clean docs folder
        run: cargo clean --doc
      - name: Build docs
        run: cargo doc --no-deps --document-private-items
      - name: Add redirect
        run: echo '<meta http-equiv="refresh" content="0;url=lc3_emulator/index.html">' > target/doc/index.html
      - name: Remove lock file
        run: rm target/doc/.lock
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: target/doc
  deploy:
    name: Deploy
    needs: build
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
  msrv:
    name: Verify Minimum Stable Rust Version (MSRV) guarantee
    runs-on: ubuntu-latest
    outputs:
      msrv-version: ${{ steps.msrv-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
      - uses: cargo-bins/cargo-binstall@main
      - run: |
          cargo binstall --no-confirm cargo-msrv --locked
          cargo-msrv verify
      # - id: msrv-version
      #   run: |
      #     version=$(cargo-msrv show --output-format minimal)
      #     echo "version=$version" >> "$GITHUB_OUTPUT"
  # call-generate-readme:
  #   permissions:
  #     contents: write
  #   needs: msrv
  #   uses: ./.github/workflows/generate-readme.yml
  #   with:
  #     msrv: ${{ needs.msrv.outputs.msrv-version }}
  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1
