name: Cross Compilation to Big Endian Build and Test (main)
permissions:
  contents: read
on:
  workflow_dispatch:
    inputs:
      target:
        description: target triple to run on, see https://github.com/cross-rs/cross?tab=readme-ov-file#supported-targets
        required: true
        default: "powerpc64-unknown-linux-gnu"
env:
  TARGET: x86_64-unknown-linux-gnu
  CARGO_TERM_COLOR: always
jobs:
  build:
    name: Build and Test on a different target
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # https://github.com/actions-rust-lang/setup-rust-toolchain
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ inputs.target }}
          components: clippy
      - name: Install cross
        run: cargo install cross --git https://github.com/cross-rs/cross.git
        shell: bash
      # - name: Clippy
      #   run: cargo clippy
      - name: Build
        run: cross build --target ${{ inputs.target }}
      - name: Run tests
        run: cross test --target ${{ inputs.target }}
