# https://github.com/actions-rust-lang/audit
name: "Audit Dependencies"
permissions:
  contents: read
on:
  push:
    paths:
      # Run if workflow changes
      - '.github/workflows/rust-audit-dependencies.yml'
      # Run on changed dependencies
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      # Run if the configuration file changes
      - '**/audit.toml'
  # Rerun periodically to pick up new advisories
  schedule:
    - cron: '25 1 * * *'
  # Run manually
  workflow_dispatch:

jobs:
  audit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/audit@v1
        name: Audit Rust Dependencies
        with:
          denyWarnings: true
          # Comma separated list of issues to ignore
          # ignore: RUSTSEC-2020-0036
